.comments
  word-wrap: break-word

  ul
    padding-left: 40px

    li
      &:before
        content: none

    ul
      padding-left: 105px

  .comments-heading
    @extend .heading-2
    margin-bottom: 30px

  .comment-body
    background-color: $gray-invisible
    border: 1px solid $gray-lightest
    border-left: 3px solid $gray-light
    margin-left: 65px
    margin-bottom: 30px
    padding: 20px 30px

    &:before
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-right: 15px solid $gray-light
      content: ""
      position: absolute
      top: 15px
      left: 50px
      width: 0
      height: 0

    .comment-avatar
      position: absolute
      top: 0
      left: -40px

  .comment-content
    margin-top: 20px
    margin-bottom: 20px

  .comment-meta
    +make-row()

    .comment-author
      +make-sm-column(6)
      font-family: $font-family-serif
      font-weight: 400
      font-size: 25px
      line-height: 45px

    .comment-time
      +make-sm-column(6)
      color: $gray-foo
      font-family: Quicksand
      font-size: 18px
      font-weight: 300
      line-height: 45px
      text-align: right

  .comment-footer
    +make-row()

    .comment-status
      +make-sm-column(6)
      line-height: 40px

      .comment-awaiting-moderation
        background-color: #FFE7EF
        padding: 5px 10px
        border-bottom: 2px solid rgb(255, 182, 182)
        font-size: 14px

    .comment-reply
      +make-sm-column(6)
      line-height: 40px
      text-align: right

  .comment-respond
    +respond-to(tablet-landscape-or-larger)
      width: 700px

  .comment-reply-title
    @extend .heading-2

  .comment + .comment-respond
    margin-left: 65px
    margin-bottom: 40px

  .bypostauthor
    > .comment-body
      border-left-color: $pink

      &:before
        border-right-color: $pink
